@import "./sass/variables";
@import "./sass/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &::selection {
    background-color: $lightest-navy;
    color: $lightest-slate;
  }
}

html {
  font-family: $inter-font;
  color: $slate;
  overflow-x: hidden;
}
body {
  background: $navy;
}
.green-color {
  color: $green;
}
img {
  width: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.title {
  font-size: clamp(26px, 5vw, $fz-heading);
  color: $lightest-slate;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 45px;
  span {
    margin-right: 8px;
    font-family: $mono-font;
    font-size: clamp(14px, 4vw, 20px);
  }
}
p {
  line-height: 1.5;
}

.work,
.home,
.about,
.project {
  padding: 0 clamp(40px, 12vw, 100px);
  padding-top: 100px;
  padding-bottom: 100px;
  @include maxw(768px) {
    padding: 0 20px;
  }
}
